body {
    margin: 0;
    padding: 0;
}

.blackbackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.confirmation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}