body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    background-color: green;
}

input[type="search"] {
    width: 350px;
    border-radius: 5px;
    padding: 7px;
}

.addbutton {
    background-color: rgb(25, 70, 25);
    color: white;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}


.product-details {
    display: flex;
    width: 100%;
}

.images-box {
    width: 600px;
    display: flex;
    position: static;
    gap: 30px;
    padding: 20px;
}

.thumbnail {
    width: 100px;
    height: 400px;
    /* border: 1px solid black; */
}

.thumbnail img {
    width: 100%;
}

.images {
    width: 350px;
    /* border: 1px solid black; */
    /* height: 400px; */

}

.images img {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 250px;
    position: relative;
    top: 1px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-weight: bold;
    z-index: 1;
}

.buttons div {
    margin: 0 5px;
}

.buybutton {
    background-color: rgb(251,100,27);
    width: 49%;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.buybutton:hover {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    
}

.addtocart {
    background-color: rgb(255,159,0);
    width: 49%;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.addtocart:hover {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    
}


.brand {
    color: rgb(152, 152, 152);
}

.content {
    width: 100%;
    padding: 20px;
    /* border: 1px solid black; */
}

.brand {
    color: rgb(152, 152, 152);
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.stock {
    font-size: 18px;
    font-weight: bold;
}
